.bg-dack{
    background-color: rgb(2, 2, 2);
}

.list-group{
    --bs-list-group-bg: transparent;
}

.fa-brands.fa-github.fa-2x:hover {
    background-color: #0000ff;
}

.fa-brands.fa-linkedin.fa-2x:hover {
    background-color: #0ee60e;
}

.fa-brands.fa-facebook.fa-2x:hover {
    background-color: #f31340;
}

.fa-solid.fa-user-clock.fa-2x:hover {
    background-color: #f14a08;
}

h1.intro {
    font-size: 2rem;
    color: #f8f4f3;
    position: absolute;
    top: 65%;
    left:  60%;
    transform: translate(-50%, -50%);
}